body {
  background-color: #D3D3D3;
}

article {
  margin: 20px;
  padding: 10px;
  border: #008000 solid 5px;
  background-color: #FFFFFF;
  border-radius: 10px;
}

#tophead {
  padding: 0px;
  margin: 0px;
}

#browseline {
  padding: 0px;
  margin: 0px;
}

.cardtext {
  font-size: 14px;
  font-family: sans-serif;
}

.cardhead {
  font-size: 18px;
  font-family: sans-serif;
}

button{
  background-color: #006600;
  color: #FFFFFF;
}

button:hover{
  background-color: #90EE90;
  color: #000000;
  cursor: grab;
}